.vacancies{
    margin-top: 80px !important;
}
.vacancy__cards-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 49px 20px;
}


@media only screen and (max-width:1050px){
    .vacancy__cards-wrapper{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (max-width:742px){
    .vacancy__cards-wrapper{
        grid-template-columns: 1fr;
    }
}

