@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: .2s ease;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    width: 5px;
  }
  
  &::-webkit-scrollbar-track {
    background: #3a3a3a; 
  }
   
  &::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  &::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
}

body {
  background-color: var(--secondary-dark);
}


:root {
  --dark-color: #000;
  --light-color: #fff;
  --secondary-dark: #1E1E20;
  --secondary-light: #2B2B2E;
  --secondary-text: #A1A1A2;
  --success-text: #00a795;
}


.container {
  max-width: 95%;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  text-decoration: none;
}
button{
  border: none;
  background: transparent;
}
li {
  list-style: none;
}


input[type=number]::-webkit-inner-spin-button{
  appearance: none;
}